body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

@media screen and (min-width:1170px)
{
    
    
}
    
    
    
@media screen and (min-width:992px) and (max-width:1169px)
    
{
     
     
}
    
    
@media screen and (max-width:991px)
{
    
    
}

@media all and (max-width : 576px) {
    nav#main-nav{
        text-align: left;
        }
    #contact .contact-social-icons{
        display: inline;
       
    }
    #about > figure > img{
        height:120px;
        width:120px;
        position: relative;
    }
    #about > article{
       position: absolute;
       left:60%;
       font-size: 1em;
    }
    #skills > figure >img
    {
        padding: 0;
        margin:0;
    }

}