// font-color
$bs-color1:black;
$bs-color2:#0DBA0D;
$bs-color3:blue;
$bs-color4:white;

//font-familly
$bs-font1:'DroidSerif',sans-serif;
$bs-font2:'Montserrat',sans-serif;


//background-color
$bg-color1:#83B9Eb;
$bg-color2:#0ed8d6;
$bg-color3:#E8D4D4;



